// bases
$default-font-size: 14px;
// header
$h-header-color: #FFF;
$h-header-size: 2.3rem;
$h-header-style: 'Raleway',
sans-serif;
// main
$-main-background-color: #101417;
$h-main-color-primary: #FFF;
$h-main-color-secondary: #fdc401;
$h-main-size-primary: 1.2rem;
$p-main-color: #949497;
$p-main-size: 1.3rem;
// Meet our team jobs
$p-jobs-color: #FFF;
$p-jobs-size: 1rem;
$h-jobs-name-size: 1.4rem;
//Reviews
$p-review-color: #FFF;
$p-review-size: .7rem;
$review-background: #fdc401;